// SASS File for Landing Page
// Topography bg https://www.toptal.com/designers/subtlepatterns/page/9/
// Made by: Shankar Ganesh 

* {
    box-sizing:border-box;
    font-family: $mainFont;
}

html {
    font-size: 62.5%;
}

.main-wrap {
    max-width:2222px;
    height:auto;
    background: url(https://www.toptal.com/designers/subtlepatterns/patterns/topography.png);

    p {
        font-size:2rem;
    }

    h1 {
        text-align:center;
        font-size:3rem;
        margin:10px 30%;
        padding:1%;
        border-bottom:1px solid black;
        
    }

    h2 {
        font-size:2.75rem;
    }
}

header {
    .logoPic {
        text-align:center;
    }
    nav {
        @include flex-around;
        align-items:center;
        background-color:$mainColor;
        height:30px;

        a {
            text-decoration:none;
            font-size:2rem;
            color:black;
            font-size:2.5rem;
        }
    }
}

.perk {
    display:flex;
    justify-content:space-evenly;
    margin:50px 0;

    .infocard {
        @include flex-column;
        width:30%;
        @include test;

        img {
            width:65%;
        }
    }
}

.mission-banner {
    display:flex;
    justify-content:space-between;
    align-items:center;
    height:300px;
    margin:50px;

    @include test;

    .mission-statement {
        width:40%;

        p {
            @include test;
            margin-left:30%;
            font-size:4rem;
            font-style:italic;

        }
    }

    .mission-img {
        width:60%;

        img {
            @include test;
            width:85%;
            height:275px;
            margin-left:10%;
        }
    }
}

.main {
    @include flex-around;
    @include test;
    height:300px;
    margin:50px 5% 0 5%;

    .coordinator {
        @include flex-column;
        @include test;
        width:40%;

        img {
            width:60%;
            height:auto;
        }

    }

    .users {
        @include flex-column;
        @include test;
        width:40%;

        img {
            width:60%;
            height:auto;
        }

    }
}

footer {
    // text-align:center;
    // background-color:$mainColor;
    // margin-top:10px;
    // height:30px;
    @include flex-column;
}

.developer {
    width:100%;

    .dev-cards {
        display:flex;
        justify-content:center;
        align-items:center;
        flex-direction:row;
        flex-wrap:wrap;
        margin: 25px 5% 0 5%;
        

        .dev {
            @include flex-column;
            margin:10px 5%;
            background-color:$mainColor;

            img,h2,p,a {
                margin-top:14px;
            }
        }
    }
}