/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.main-wrap {
  max-width: 1800px;
  height: auto;
  font-family: "Roboto", sans-serif;
}
.main-wrap p {
  font-size: 1.75rem;
}
.main-wrap h1 {
  text-align: center;
  font-size: 3rem;
  margin: 10px 0;
  border: 1px solid black;
  padding: 1%;
}
.main-wrap h2 {
  font-size: 2.5rem;
}

header {
  border: 1px solid red;
}
header .logoPic {
  text-align: center;
}
header nav {
  display: flex;
  justify-content: space-around;
  background-color: #8AAAE5;
}
header nav a {
  text-decoration: none;
  font-size: 2rem;
  color: black;
}

.perk {
  display: flex;
  justify-content: space-evenly;
  margin-top: 25px;
}
.perk .infocard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  border: 1px solid red;
}
.perk .infocard img {
  width: 70%;
}

.mission-banner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 200px;
  margin-top: 25px;
  border: 1px solid red;
}
.mission-banner .mission-statement {
  width: 30%;
}
.mission-banner .mission-statement p {
  border: 1px solid red;
  text-align: center;
}
.mission-banner .mission-img {
  width: 65%;
}
.mission-banner .mission-img img {
  border: 1px solid red;
  width: 95%;
  height: 180px;
}

.main {
  display: flex;
  justify-content: space-around;
  border: 1px solid red;
  height: 300px;
  margin-top: 25px;
}
.main .coordinator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
  width: 40%;
}
.main .coordinator img {
  width: 60%;
  height: auto;
}
.main .users {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
  width: 40%;
}
.main .users img {
  width: 60%;
  height: auto;
}

footer {
  text-align: center;
  background-color: #8AAAE5;
  margin-top: 10px;
}

.developer {
  width: 100%;
}
.developer .dev-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 25px 5% 25px 0;
}
.developer .dev-cards .dev {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 5%;
  background-color: #8AAAE5;
}
.developer .dev-cards .dev img, .developer .dev-cards .dev h2, .developer .dev-cards .dev p, .developer .dev-cards .dev a {
  margin-top: 14px;
}

/*# sourceMappingURL=output.css.map */
