//Variables
$mainFont: Georgia, Times New Roman, Times, serif;
$mainColor: #8AAAE5;

//Alternate Darker Blue 
// $mainColor:rgb(39, 79, 155);

//Mashable's color scheme looks nice

@mixin flex-around {
    display:flex;
    justify-content:space-around;
}

@mixin flex-column {
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
}

@mixin test {
    border:1px solid red;
}
